.easing-carousel-image {
    padding: 0 !important;
}

.easing-carousel-text {
    padding: 0 !important;
}

.easing-text-block {
    background-color: #FB9467;
    padding: 41px;
    color: #ffffff;
    float: right;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    height: 100%;
}

.easing-carousel-control-next-icon {
    margin-right: -115px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%4a4a4a' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.easing-carousel-control-prev-icon {
    margin-left: -115px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%4a4a4a' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e") !important;
}

.easing-carousel-indicators li {
    background-color: #4a4a4a !important;
}
