* {
    margin: 0;
    padding: 0;
}

.header {
    display: block;
}
.overlay {
    padding: 10% ;
}

.header-image {
    display: table;
    width: 100%;
    height: 65vh;
    padding: 0;
    background: url(img/winter_park_sunset_bench_snow_sun_58575_2560x1600.jpg) no-repeat center center;
    background-color: #595955;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-title {
    text-align: center;
    color: #ffffff;
    padding-top: 65px;
}

.video {
    background-color: #c9c9c9;
    padding: 20px
}

.video-text {
    text-align: center;
    padding: 40px;
    color: #ffffff;
    background-color: #c9c9c9;
}

.nav-item {
    color: #595959
    
}

.title {
    text-align: center;
    color: #1B63FB;
}

.broodtekst {
    text-align: center; 
}

.icon {
    background-color: #c9c9c9;
    padding: 40px;
   
}

.tools {
    background-color: #c9c9c9;
}

.basics {
    padding-top:20px;
}

.quote {
    text-align: center;
    color: #ffffff;
    background-color: #1B63FB;
    width: 120%;
    padding: 150px;
    max-width: 100%;
    transform: skewY(-2deg);
}

.broodtekst_principes {
    background-color: #555555;
    padding: 40px;
}

.carousel-item {
    background-color: #c9c9c9;
}

.carousel-inner {
    align-content: center;
}

.text-block {
    background-color: #1B63FB;
    padding: 60px;
    color: #ffffff;
}