@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet');

.header-image {
    display: table;
    width: 100%;
    height: 65vh;
    padding: 0;
    background: url(img/gray-double-bell-clock-1037993.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header {
    display: block;
}

.overlay {
    padding: 8%;
    float: right;
    width: 50%;
    vertical-align: middle;
}

.artikel {
    background-color: #ECECEC;
    border-radius: 50px;
    padding: 15px 35px 15px 35px;
    text-align: center;
    color: #4A4A4A;
    font-size: 13px;
    display: inline;
}

.header-title {
    font-family: 'Poppins';
    font-weight: lighter;
    text-align: center;
    color: #FB9467;
    font-size: 70px;
    line-height: normal;
    padding: 40px;
}

.by {
    color: #A4A4A4;
    padding-right: 15px;
}

.text-color {
    color: #4A4A4A;
}





.container-fluid {
    background-color: #F7F7F7;
}

.section {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 6vw;
}

.leftside,
.rightside {
    height: 25vh;
    width: 100%;
}

.section-4 .leftside {
    position: relative;
    padding-left: 18vh;
    margin-top: 30px;
}

.section-4 .rightside {
    position: relative;
    padding-right: 18vh;
    background: url() no-repeat center center;
}

.title {
    color: #FB9467;
    text-align: left;
    margin-left: 30px;
}

.broodtekst {
    text-align: left;
}

.size {
    height: auto;
    max-width: 100%;
    position: relative;
}

.principes-text {
    text-align: left;
    margin: 0px auto 0px auto;
    vertical-align: middle;
}

.nav-item {
    color: #595959   
}

.afbeelding {
    background-color: #c9c9c9;
    padding: 140px;   
}

.tools {
    background-color: #c9c9c9;
}

.basics {
    padding-top:20px;
}

.quote {
    text-align: center;
    color: #ffffff;
    background-color: #FB9467;
    width: 120%;
    padding: 150px;
    max-width: 100%;
    transform: skewY(-2deg);
}

.vl1 {
    border-left: 6px solid;
    border-color: #FB9467;
    height: 100px;
    position: absolute;
}

.broodtekst_principes {
    background-color: #555555;
    padding: 40px;
}

.carousel-item {
    background-color: #c9c9c9;
}

.carousel-inner {
    align-content: center;
}

.text-block {
    background-color: #FB9467;
    padding: 60px;
    color: #ffffff;
    float: right;
}
